<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your photo has been accepted!</h1>
    <p>Your photo has been uploaded to ImagePail with a caption of "<%= @photo.caption%>". We hope you continue to use photobucket in the future for your photo uploading needs. </p>
    <p>Keep up the good work!</p>
    <p>Sincerely,</p>
    <p>The kids at ImagePail</p>
  </body>
</html>
